:root {
    --couleur-font-claire:#808080 ;
    --couleur-font-fonce: rgb(0, 0, 0);
    --couleur-font-gris:#404040;
    --couleur-font-orange:#D94141;
    --couleur-font-jaune-foncer:a#F28705;
    --couleur-font-jaune-claire:#F2A007;
    --couleur-font-blanc:white;
}

@font-face {
    font-family: 'Liberation sans';
    src: url('./fonts/LiberationSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation sans';
    src: url('./fonts/LiberationSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Liberation sans',sans-serif;
    background-color: var(--couleur-font-gris);
    
}

header {
    background-image:url("./images/background.jpg") ;
    
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

a {
    font-size: 15px;
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
    ;  
}

main {
    background-color: var(--couleur-font-gris);
}

span {
    color: var(--couleur-font-jaune-claire);
}





footer {
    background-color: var(--couleur-font-gris);
    padding-top: 2rem;
}

.button {
    background-color:black;
    color: white;

}

.div1 {
    text-align: center;
    margin: auto;
    padding: 20px;
    
}

.margin {
    margin: 2rem;
}


.margin1 {
    background-color: var(--couleur-font-claire);
    margin: 0.8rem; 
}

.pad {
    
    background-color: var(--couleur-font-gris);
}


.img2 {
   width: 90%;
   height: 90%;
}

.div1 span {
    color: #d38e0e;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--couleur-font-blanc); 
    border-radius: 10px;
     
}

.div3 {
    display: flex;
    align-items: center;
     gap: 30px;
     text-align: justify;
     justify-content: space-evenly;
}


.img{
    width: 100%;
    margin-bottom: -0.3rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aligne {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30%;
}

.aligne1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; 
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.fin {
    text-align: center;
}

.contact {
    display: flex;
    border-radius: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
   
    
}

.ab {
    position: absolute;
    right: -70px;
}

.re {
    position: relative;
    width: 80%;
}

.ab1 {
    position: absolute;
    top: -60px;
}

.re1 {
    position: relative;
    width: 80%;
}

.tex {
    text-decoration: line-through;
}








    










